<mat-toolbar>
  <mat-toolbar-row class="titulonav">
    <span>Visita Londres</span>
  </mat-toolbar-row>

  <mat-toolbar-row class="contenedorbarra">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <button mat-button routerLink="/home">Página Principal</button>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <button mat-button routerLink="/galeria">Galeria</button>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <button mat-button routerLink="/divisas">Divisas</button>
  </mat-toolbar-row>
</mat-toolbar>

